*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  /* background-color: red; */
}
.barra{
    margin: 0;
    border-radius: 8px;
}
.btn{
    background-color: #2f7fec;
    color: white;

}
.nav-item-3{
    margin-left: 6rem;
}
.nav-item-1{
    margin-right: 6rem;
}
.eliminar{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}
.eliminar svg {
  width: 20px;
    height: 20px;
}